{% extends "base.html" %}

{% block content %}
  <div class="container bg-white mt-5">
    <div class="row">

      <div class="col-md-8">
        <h2 class="mb-3">
          {{ newspaper.title }}
          <a href="{% url 'press:newspaper-delete' pk=newspaper.id %}"
             class="btn btn-danger btn-sm">Delete</a>
          <a href="{% url 'press:newspaper-update' pk=newspaper.id %}"
             class="btn btn-secondary btn-sm">Update</a>
        </h2>

        <p><strong>Topics:</strong> {{ newspaper.get_topics_display }}</p>
        <p><strong>Publishers:</strong> {{ newspaper.get_publishers_display }}
        </p>
        <p class="mt-3">{{ newspaper.content }}</p>
      </div>

      <div class="col-md-4 d-flex align-items-center">
        <img src="/static/images/newspaper.jpg"
             class="img-fluid rounded shadow" alt="Newspaper Image">
      </div>
    </div>
  </div>

{% endblock %}
