{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

  <div class="container mt-4 mb-4">
    <div class="card shadow-lg p-4">
      <div class="row g-0 align-items-stretch">

        <div class="col-md-6 p-3 d-flex flex-column">
          <h2 class="mb-3">{{ object|yesno:"Update,Create" }} Newspaper</h2>
          <form action="" method="post" novalidate
                class="flex-grow-1 d-flex flex-column">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-100 mt-auto">
              Submit
            </button>
          </form>
        </div>

        <div class="col-md-6">
          <img src="/static/images/create-paper.jpg"
               alt="Newspaper Image"
               class="img-fluid w-100 h-100 object-fit-cover rounded">
        </div>

      </div>
    </div>
  </div>


{% endblock %}
