<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Newspaper Agency</title>
</head>
<body>

{% block sidebar %}
  {% include "includes/sidebar.html" %}
{% endblock %}

{% block content %}
{% endblock %}

{% block pagination %}
  {% include "includes/pagination.html" %}
{% endblock %}

</body>
</html>